/* Variables */
:root {
    --font-primary: Avenir, system-ui, Inter, Helvetica, Arial, sans-serif;
    --font-secondary: Georgia, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --font-tertiary: 'Segoe UI', Arial, sans-serif;
    --color-link: rgb(249, 255, 83);
    --color-link-hover: #00eaff;
    --color-button-hover: #646cff;
    color-scheme: light only;
  }
  
  /* Global Styles */
  * {
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    color: black;
    font-family: var(--font-primary);
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #root {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  a {
    font-weight: 500;
    color: var(--color-link);
    text-decoration: inherit;
  
    &:hover {
      color: var(--color-link-hover);
    }
  }
  
  p {
    font-family: var(--font-tertiary);
    font-size: 1rem;
  }
  
  h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
  
  h2, h3 {
    font-family: var(--font-secondary);
  }
  
  video {
    max-width: 100%;
    height: auto;
    margin: 0.3rem 0;
  }
  
  button {
    border-radius: 0.5rem;
    border: 0.0625rem solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
  
    &:hover {
      border-color: var(--color-button-hover);
    }
  
    &:focus,
    &:focus-visible {
      outline: 0.25rem auto -webkit-focus-ring-color;
    }
  }
  
  /* Header/Navigation Bar */
  nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #DA8359;
    background-repeat: repeat-y;
    background-size: cover;
    box-shadow: 0 0 0.625rem 0.0625rem white;
  
    .title {
      font-size: 1.5rem;
      margin: 0.5rem;
      font-weight: bold;
      font-family: var(--font-secondary);
      text-decoration: none;
      color: white;
    }
  
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
  
      li {
        list-style: none;
        box-shadow: 0 0 0.625rem 0.0625rem white;
        margin: 0.3rem;
  
        a {
          display: flex;
          text-decoration: none;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: black;
          padding: 0.5rem;
          background-color: rgba(255, 255, 255, 0.47);
  
          &:hover {
            color: black;
            background-color: #ffffff;
            box-shadow: 0 0 0.625rem 0.0625rem white;
            border-radius: 8%;
            transform: translateY(-0.25rem);
          }
        }
      }
    }
  
    @media (min-width: 48rem) {
      flex-direction: row;
      justify-content: space-between;
  
      .title {
        font-size: 2rem;
        margin: 1rem;
      }
    }
  }
  
  /* Footer */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/footer-bg.png');
    background-repeat: repeat-y;
    background-size: cover;
    border-bottom: 0.125rem solid black;
    box-shadow: 0 0 0.625rem 0.0625rem white;
    color: black;
    padding: 0.625rem;
    bottom: 0;
    width: 100%;
  }
  
  /* Page Sections */
  .aboutme, .projects, .work, .skills, .home-page {
    padding: 1rem;
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
  
    h2 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  
    @media (min-width: 48rem) {
      padding: 1.25rem;
  
      h2 {
        font-size: 2rem;
      }
  
      p {
        font-size: 1rem;
      }
    }
  }
  
  .aboutme {
    background-color: #FCFAEE;

    h2, h3 {
      color: #181C14
    }

    .space {
      margin-left: 2rem;
      margin-right: 2rem;

      ul {
        margin-left: 10rem;
        list-style:lower-alpha;
        text-align: left;
      }
    }
  }
  
  .projects, .skills {  
    background-color: #A5B68D;
  
    h2, h3, p {
      color: white;
    }
  
    ul {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      list-style-type: none;
      padding: 0;
      margin: 0;
  
      li {
        background-color: #da8459c1;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
  
        &:hover {
          transform: translateY(-0.25rem);
        }
      }
  
      @media (min-width: 40rem) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      @media (min-width: 64rem) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  
  .skills {
    .internal {
      display: flex;
      flex-wrap: wrap-reverse;
  
      li {
        background-color: #d7f2cd;
        color: black;
        margin-top: 0.5rem;
        transform: none;
  
        &:hover {
          transform: none;
        }
      }
    }
  }
  
  .work {
    background-color: #FCFAEE;
  
    h2 {
      color: #181C14
    }

    .experience-list {
      list-style-type: none;
      padding: 0;
      margin: 0 auto;
      width: 100%;
      max-width: 1200px;
    }
  
    .experience-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      overflow: hidden;
      transition: all 0.3s ease;
      gap: 5px;
  
      &:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      }
    }
  
    .experience-title {
      padding: 15px;
      background-color: #ffffffe6;
      font-weight: bold;
      border: .5px solid #82c771;
    }
  
    .experience-description {
      padding: 15px;
      border: .5px solid #e8762a;
      background-color: #ffffffdd;
    }
  
    @media (min-width: 768px) {
      .experience-item {
        flex-direction: row;
      }
  
      .experience-title {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 20px;
      }
  
      .experience-description {
        flex: 2;
        padding: 20px;
      }
    }
  
    @media (max-width: 480px) {
      .experience-item {
        font-size: 12px;
      }
  
      .experience-title,
      .experience-description {
        padding: 10px;
      }
    }
  }
  
  /* Home Page Styles */
  .home-page {
    width: 100%;
    min-height: 100vh;
    background-color: #ECDFCC;
  
    h2 {
      color: black;
    }
  
    p {
      background-color: #DA8359;
      padding: 0.625rem;
      color: white;
      border-radius: 0.625rem;
    }
  
    .tiles-container {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      align-items: center;
  
      .tile {
        width: 100%;
        max-width: 12.5rem;
        height: 12.5rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background-size: cover;
        background-repeat: repeat-y;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 1rem;
        text-align: center;
        border: 0.01rem solid black;
        box-shadow: 0 0 0.625rem 0.0625rem white;
  
        &:hover {
          transform: translateY(-0.25rem);
        }
  
        h2 {
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: black;
        }
  
        @media (min-width: 48rem) {
          width: calc(50% - 0.5rem);
        }
  
        @media (min-width: 64rem) {
          width: calc(33.33% - 0.6667rem);
        }
      }
    }
  }